.fjakkarin-button {
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #fff;
    border-radius: 0px;
}

.fjakkarin-button:hover  {
    background: #fff;
    border-bottom: #C0C0C0  4px solid;
}

.fjakkarin-button:active {
    background: #fff;
    border-bottom: #C0C0C0  4px solid;
}

.fjakkarin-button:focus  {
    background: #fff;
    border-bottom: #C0C0C0  4px solid;
}

.fjakkarin-cat-button {
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #fff;
    border-radius: 0px;
}

.fjakkarin-cat-clear:hover  {
    background: #fff;
    border-bottom: #C0C0C0  4px solid;
}

.fjakkarin-cat-clear:active {
    background: #fff;
    border-bottom: #C0C0C0  4px solid;
}

.fjakkarin-cat-clear:focus {
    background: none;
    border-bottom: #C0C0C0  4px solid;
}

.fjakkarin-cat-blue:hover  {
    background: #fff;
    border-bottom: #0275d8 4px solid;
}

.fjakkarin-cat-blue:active {
    background: #fff;
    border-bottom: #0275d8 4px solid;
}

.fjakkarin-cat-blue:focus {
    background: none;
    border-bottom: #0275d8 4px solid;
}

.fjakkarin-cat-black:hover  {
    background: #fff;
    border-bottom: #000000 4px solid;
}

.fjakkarin-cat-black:active {
    background: #fff;
    border-bottom: #000000 4px solid;
}

.fjakkarin-cat-black:focus {
    background: #fff;
    border-bottom: #000000 4px solid;
}

.fjakkarin-cat-red:hover  {
    background: #fff;
    border-bottom: #d9534f 4px solid;
}

.fjakkarin-cat-red:active {
    background: #fff;
    border-bottom: #d9534f 4px solid;
}

.fjakkarin-cat-red:focus {
    background: #fff;
    border-bottom: #d9534f 4px solid;
}

.fjakkarin-cat-yellow:hover  {
    background: #fff;
    border-bottom: #f0ad4e 4px solid;
}

.fjakkarin-cat-yellow:active {
    background: #fff;
    border-bottom: #f0ad4e 4px solid;
}

.fjakkarin-cat-yellow:focus {
    background: #fff;
    border-bottom: #f0ad4e 4px solid;
}

.fjakkarin-cat-green:hover  {
    background: #fff;
    border-bottom: #419641 4px solid;
}

.fjakkarin-cat-green:active {
    background: #fff;
    border-bottom: #419641 4px solid;
}

.fjakkarin-cat-green:focus {
    background: none;
    border-bottom: #419641 4px solid;
}
