.card {
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
}

.red {
    border-bottom: 10px solid #d9534f;
}

.grot {
    border-bottom: 10px solid #d9534f;
}

.johandavidsen-bitbucket-org {
    border-bottom: 10px solid #0275d8;
}

.blue {
    border-bottom: 10px solid #0275d8;
}

.fremja {
    border-bottom: 10px solid #419641;
}

.green {
    border-bottom: 10px solid #419641;
}

.link {
    color: #000000;
    font-style: italic;
    font-weight: bold;
}

.link:hover {
    color: #000000;
    font-style: italic;
    font-weight: bold;
}

.link:visited {
    color: #000000;
    font-style: italic;
    font-weight: bold;
}

.link:active {
    color: #000000;
    font-style: italic;
    font-weight: bold;
}

.link:focus {
    color: #000000;
    font-style: italic;
    font-weight: bold;
}

.card-signature {
    color: #818a91;
}

.card-signature:hover {
    color: #818a91;
}

.card-signature:visited {
    color: #818a91;
}

.card-signature:active {
    color: #818a91;
}

.card-signature:focus {
    color: #818a91;
}
