.navbar {
    background: #fff;
}

.navbar-brand {
    color: #000;
}

.navbar-brand:hover {
    color: #000;
}

.navbar-brand:visited {
    color: #000;
}

.fjakkarin-navbar-left {
    padding-bottom: 10px;
    background: #fff;
    font-family: 'Pacifico', cursive;

}

.fjakkarin-navbar-center {
    padding-bottom: 10px;
    background: #fff;
    text-align: center;
}

.fjakkarin-navbar-right {
    padding-bottom: 10px;
    background: #fff;
    text-align: right;
}
